@import "../mixins/flex/flex.scss";
@import "../mixins/reset/reset-element.scss";
@import "../variables/variables.scss";

.counter-section {
  @include flex(row, center, center);
  padding-top: $space-b-section;

  button {
    @include reset-element();
    border: 1px solid transparent;
    text-transform: lowercase;
    font-size: medium;
    font-weight: 600;
    padding: 0.3rem 0.7rem;
    border-radius: $rounded;
    transition-duration: $smooth;
    cursor: pointer;

    &:active {
      border: 1px solid $main_color;
    }
  }
}
