@import "../mixins/flex/flex.scss";
@import "../variables/spaces.scss";
@import "../variables/colors.scss";
@import "../variables/sizes.scss";

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: $full;
  @include flex(row, center, center);
  padding: 0.5rem 0;
  background-color: $black_color;
  color: $white_color;

  .content {
    font-weight: 400;

    .developer {
      font-weight: bold;
    }
  }
}
