@import "../mixins/grid/grid-cols.scss";
@import "../variables/spaces.scss";
@import "../variables/transitions.scss";

.logo-section {
  @include grid-cols(3, center);
  padding-top: $space-b-section;

  .vite-link,
  .scss-link,
  .typescript-link {
    .vite,
    .scss,
    .typescript {
      img {
        transition-duration: $duration;

        &:hover {
          transform: translateY(-0.1rem);
        }
      }
    }
  }
}
