@import "../mixins/reset/reset-spaces.scss";

* {
  @include reset-spaces();
  box-sizing: border-box;
  font-family: system-ui;
}

.light {
  --bg-color: #fff;
  --color: #212024;
  --action-elm-bg: #212024;
  --action-elm-color: #fff;
}

.dark {
  --bg-color: #212024;
  --color: #fff;
  --action-elm-bg: #fff;
  --action-elm-color: #212024;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}
